<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">

    <!-- medium style editor  -->

    <!-- Core -->
    <link rel="stylesheet" href="{% static 'css/medium-editor.css' %}">
    <!-- or any other theme -->
    <link rel="stylesheet" href="{% static 'css/themes/default.css' %}">


    <!-- custom css  -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>TheMagiche</title>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark techfont custom-navbar">
        <div class="container">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item navbar-brand bigbrand ">
                    <a class="nav-link" href="{% url 'post_list' %}">Mark's Rants<i class="fa"></i>
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Me
                        <i class="fa fa-user-tie"></i>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_new' %}">New Rants <i class="fa fa-file-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts
                         <i class="fa fa-edit"></i>
                        </a>
                </li>
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Welcome: {{ user.username }}
                        <i class="fa fa-hand-spock"></i>
                    </a> 
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        Login
                        <i class="fa fa-hand-peace"></i>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {% comment %} content block {% endcomment %}
    <div class="content container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog_post">
                    {% block content %} {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/medium-editor.js' %}"></script>
    <script>
        var editor = new MediumEditor('.editable');
    </script>
</body>

</html>