{% extends "blog/base.html" %} {% block content %}
<div class="centerstage">
    <div class="row">
        <div class="col-lg-4 post-block">
            {% for post in post_list %}
            <div class="post">

                    <div class="card">
                        {% if post.thumbnail %}
                        <img class="card-img-top" src="../../media/{{post.thumbnail}}" alt="myimg">
                        {% else %}
                        <img src="../../static/img/Girl_29.jpg" alt="Card image cap">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                            </h5>
                            <p class="card-text">
                                <div class="date">
                                    <p>Published on: {{ post.published_date|date:"d-m-Y" }}</p>
                                </div>
                            </p>
                            <a href="{% url 'post_detail' pk=post.pk %}">Comments <i class="fa fa-comments"></i>: {{ post.approve_comments.count }}</a>
                        </div>
                    </div>
    
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-8 asidecontent">
        </div>
    </div>
</div>
{% endblock content %}